<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is our Test Page</h1>
    <ul>
        {% for x in mylist %}

        <li>    {{x.name}} {{x.id}} {{x.date_of_birth}} {{x.email}} {{x.gender}} 
                {{x.gpa}} {{x.level}} {{x.status}} {{x.depart}} {{x.phone}} 
        </li>
        {% endfor %}
    </ul>
</body>
</html>