* {
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.title {
    padding: 20px;
    background-color: #284160;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

header {
    background-color: #FC7716;
}

header>ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
}

header>ul a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    height: 90vh;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active~div {
    display: block !important;
}

.question_content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.collapsible-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size:  20px;
}
.active, .collapsible-btn:hover {
    background-color: #e7e6e6;
}

footer {
    background-color: #284160;
    padding: 40px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}