<!DOCTYPE html>
<html lang="en">

<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="{% static 'css/AddDepartment.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    
</head>

<body>
    <header>
        <ul>
            <a href="{% url 'home'%}">Home</a>
            <a href="{% url 'add'%}">Add Student</a>
            <a href="{% url 'all'%}">All Students</a>
            <a class= "active" href="{% url 'search'%}">Search</a>
            <a href="{% url 'help'%}">Help</a>
        </ul>
    </header>
    <form method="post">
        {% csrf_token %}
        <div class="department">
            <p class="titleDepartment">Department:</p>
            <div id="dep">
                {{form.department}}
            </div>
        </div>
        <div class="fifty">
            <label>Name</label>
            {{form.name}}
        </div>
        <div class="quar">
            <label>Gender</label>
            {{form.gender}}
        </div>
        <div class="quar">
            <label>GPA</label>
            {{form.gpa}}
        </div>
        <div class="fifty">
            <label>ID</label>
            {{form.id}}
        </div>
        <div class="quar">
            <label>Level</label>
            {{form.level}}
        </div>
        <div class="quar">
            <label>Status</label>
            {{form.status}}
        </div>
        <div class="fifty">
            <label>Date Birth</label>
            {{form.DOB}}
        </div>
        <div class="fifty">
            <label>Email</label>
            {{form.email}}
        </div>
        <div class="fifty">
            <label>Phone</label>
            {{form.phone}}
        </div>

        <div class="butt_container">
            <button type="submit" formaction="/save" class="butt">Save</button>
            <button class="butt" type="submit" formaction="/search" id="backBtn">Back</button>
        </div>
    </form>
    
</body>

</html>
