<!DOCTYPE html>
<html>
    <head>
        {%load static%}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static 'css/Search.css'%}" />
        <link rel="stylesheet" href="{% static 'css/global.css' %}" />
         <!--icons-->
        <script src="https://kit.fontawesome.com/ddfd70be7f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <!--fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
        <title>Search Student</title>
    </head>
    <body>
        
        <header>
            <ul>
                <a href="home.html">Home</a>
                <a href="/add-student">Add Student</a>
                <a href="all_students.html">All Students</a>
                <a class="active" href="search_student.html">Search</a>
                <a href="help.html">Help</a>
            </ul>
        </header>
        <br>
        
        <form method="get">
        {% csrf_token %}
            <div class="Search_container">
            <div class="Search">
                <input 
                    class="Search_box"
                    id = "Searched_element" 
                    type="text" 
                    name = "name"
                    placeholder="Search"
                    required>
            </div>
            <div class="right_part">
                <button type="image.png"  class="search_button" formaction="/search-query"><i class="fa fa-search" ></i></button>
            </div>  
        </div>
        
        
        <div class="Search_by_container">
            Search by: 
            <input type="radio" name="Search_by" id="Name" value="Name" class="Search_by" checked>
            <label for="Name" class="N_label">Name</label>
            <input type="radio" name="Search_by" id="Department" value="Department" class="Search_by" >
            <label for="Department" class="D_label">Department</label>
          
        </div>
        </form>
        
        <form method="post">
        {% csrf_token %}
        
        <table class="table" id="table">
            <thead>
                <tr class="head">
                    <th>Name</th>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Select</th>
                </tr>
            </thead>
            
            {% for student in students %}
                <tr>
                    <td ><label > {{ student.name }}</label></td>
                    <td><label >{{ student.id }}</label></td>
                    <td>
                        <label >
                            <span class="material-icons" style="color: #12F10D; font-size:10px">circle</span>
                            Active
                        </label>
                    </td>
                        <td class="input">
                            <input id= {{ student.id }} value = {{ student.id }} type="radio" name="selected_student" class="Select">
                        </td>
                    
                </tr>

            {% endfor %}
                
        </table>
    
        
        <div class="Buttons">
            <button class ="Button" type="submit" id="edit_button_search" formaction="/edit-student" >Edit student</button>
            <button class ="Button" type="submit" id="edit_dept_search" >Edit Department</button>
            <button class ="Button" type="submit" id="view_student_search"formaction="/view-student" >View info</button>
            <button  onclick="Delete()" class ="Button" formaction="/search-delete" type="submit" id="Delete">Delete</button>
        </div>
        </form>
        

        <script defer src="{% static 'js/Search.js' %}">
        </script>
    </body>
</html>