<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Affairs</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_student.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>

<body>
    <header>
        <ul>
            <a href="{% url 'home'%}">Home</a>
            <a href="{% url 'add'%}">Add Student</a>
            <a href="{% url 'all'%}">All Students</a>
            <a class= "active" href="{% url 'search'%}">Search</a>
            <a href="{% url 'help'%}">Help</a>
        </ul>
    </header>
    <form method= 'post'>

        {% csrf_token %}

        <div class="fifty">
            <label>Name </label>
            {{form.name}}
        </div>
        <div class="quar">
            <label>Gender</label>
            {{form.gender}}
        </div>
        <div class="quar">
            <label>GPA</label>
            {{form.gpa}}
        </div>
        <div class="fifty">
            <label for="ID">ID</label>
            {{form.id}}
        </div>
        <div class="quar">
            <label for="level">Level</label>
            {{form.level}}
        </div>
        <div class="quar">
            <label for="sta">Status</label>
            {{form.status}}
        </div>
        <div class="fifty">
            <label for="date">Date Birth</label>
            {{form.DOB}}
        </div>
        <div class="quar">
            <label for="dep">Department</label>
            {{form.department}}
        </div>
        <div class="fifty">
            <label for="email">Email</label>
            {{form.email}}
        </div>
        <div class="fifty">
            <label for="phone">Phone</label>
            {{form.phone}}
        </div>
        <div class="butt_container">
            <button id="back_button" class="butt" formaction="/search/">Back</button>
            </div>
    </form>
    </script>
</body>

</html>
