
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}
form {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    flex-grow: 1;
}

form>div {
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
}

.butts {
    display: flex;
    width: 50%;
    margin: auto;
    margin-bottom: auto;
    justify-content: space-between;
    margin-bottom: 50px;
}

.butts a {
    text-decoration: none;
    color: #000;
}

form .quar input,
form .fifty input {
    outline: none;
    background-color: #eee;
    border: none;
    padding: 10px;
    float: right;
    margin-right: 60px;
}

.butt {
    font-size: 16px;
    border-radius: 10px;
    /* left: 70%; */
    cursor: pointer;

    width: fit-content;
    padding: 10px;
    font-weight: bold;
    background-color: #F9F6F6;
    border: 1px solid #284160;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
 }

 .butt:active , .butt:hover{
    background-color: #284160;
    color: white;
    font-weight: bold;
 }

.department {
    padding: 31px;
    border: 7px solid #8E939A;
    width: 60%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

.department #dep {
    width: 50%;
    margin-left: 20px;
    height: 120px;
}

.department #dep .icon,
.department #dep .parent>div {
    border: 1px solid #D4D4D4;
    height: 20px;
    background-color: #FBFBFB;
    border-radius: 4px;
    padding: 0px 5px;
}

.department #dep>div:first-child {
    text-align: end;
    transform: rotateX(0deg);
}

.department #dep>div:first-child.active {
    transform: rotateX(180deg);
}

.parent {
    display: none;
}

.parent.active {
    display: block;
}

.parent>div.active::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FC7716;
    float: right;
    margin-top: 4px;
}

@media only screen and (min-width: 1025px) {
    /* Styles for computers or larger screens */
    form .quar input {
        width: 50%;
    }
    form .fifty input {
        width: 76%;
    }
    form .quar {
        width: 25%;
    }
    form .fifty {
        width: 50%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles for tablets in portrait orientation */
    form div {
        width: 50%;
    }
    form div input {
        width: 65%;
    }
}

@media only screen and (max-device-width: 767px) {
    /* Styles for phones in portrait orientation */
    form div {
        width: 100%;
    }
    form div input {
        width: 65%;
    }
}
