
 form {
     display: flex;
     flex-wrap: wrap;
     padding: 50px 0px;
     width: 90%;
     margin: auto;
     flex-grow: 1;
 }
 
 form div {
     padding-right: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 29px;
 }
 
 form .quar input,
 form .fifty input {
     outline: none;
     background-color: #eee;
     border: none;
     padding: 10px;
     float: right;
 }
 
 .butt {
     width: fit-content;
     padding: 10px;
     font-size: 13px;
     font-weight: bold;
     background-color: #F9F6F6;
     border: 1px solid #284160;
     border-radius: 12px;
     margin: auto;
     margin-top: 30px;
     cursor: pointer;
 }
 
 @media only screen and (min-width: 1025px) {
     /* Styles for computers or larger screens */
     form .quar input {
         width: 50%;
     }
     form .fifty input {
         width: 76%;
     }
     form .quar {
         width: 25%;
     }
     form .fifty {
         width: 50%;
     }
 }
 
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
     /* Styles for tablets in portrait orientation */
     form div {
         width: 50%;
     }
     form div input {
         width: 65%;
     }
 }
 
 @media only screen and (max-device-width: 767px) {
     /* Styles for phones in portrait orientation */
     form div {
         width: 100%;
     }
     form div input {
         width: 65%;
     }
 }
