.btn {
    border: 1px solid #284160;
    border-radius: 10px;
    display: flex;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #284160;
    text-align: center;
    margin: auto;
    margin-top: 300px;
    cursor: pointer; 
}

.btn:active , .btn:hover{
    background-color: #284160;
    color: white;
    font-weight: bold;
 }

.StatDiv {
    background: white;
    border-radius: 30px;
    border: 0px solid rgb(125, 125, 125);
    padding: 4px;
    cursor: pointer;
    width: 100px;

}

select {
    border: none;
    background-color: white;

}

#students {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

#students th {
    padding: 4px;
    text-align: left;
    background-color: #284160;
    color: white;

}

td{
    border-bottom: 1px solid #cacaca;
    padding: 8px;
}


tr:hover {
    background-color: #FFE9C7;
}

.circleStat {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
}


