.Search{
    width: 400px;
    border: 02px solid;
    border-radius: 30px 0px 0px 30px;
    padding: 10px;
    display: inline-flex;
    margin: auto;
    margin-top: 30px;
    border-color: #284160;
}


.Search_box{
    background: transparent;
    border: 0px;
    outline: 0px;
    width: 500px;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 50px;

}

.table th {
    padding: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: #284160;
    color: white;

}

.table td {
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #FFE9C7;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.Select{
    margin-left: 12px;
}

input[type='radio'].Select:after{
    width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid black;
}

input[type='radio'].Select:checked:after{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #284160;
    
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid black ;
    
}

.Search_by_container{
    margin-top: 20px;
    text-align: center;
}

select{
    width: 120px;
    border: 02px solid;
    border-radius: 30px;
    padding: 5px;
    border-color: #284160;
    color: white;
    background-color: #284160;
}

.Buttons{
    text-align: center; 
    /* display: inline-block; */
    margin-top: 50px;
    /* margin-left: 450px; */
}

.Button{
    width: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: #F9F6F6;
    color: #284160;
    border: 1px solid #284160;
    border-radius: 10px;
    margin-left: 10px;
    /* left: 70%; */
    cursor: pointer;
}

#Delete
{
    color: red;
    border-color: red;
    
}

.Button:hover{
    background-color: #284160;
    color: white;
    font-weight: bold;
}

#Delete:hover{
    background-color: red;
    color: white;
    font-weight: bold;
}



.Search_by_container input {
    margin-top: 40px;
    display: none;
}

.Search_by_container label{
    text-align: center;

}





.N_label label{
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.D_label{
    margin: -5px;
}

label[for='Name']
{
    cursor: pointer;
    border: 1.5px solid #284160;
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 50px 0px 0px 50px;
    margin: auto;
    
}


label[for='Department'] {
    cursor: pointer;
    border: 1.5px solid #284160;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin: none;
    border-radius: 0px 50px 50px 0px;
    
}
input[type = 'radio'].Search_by:checked + label[for='Name']{
    background: #284160;
    color: white;
    border: 1.5px solid;
    border-color: #284160;
    border-radius: 30px;
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
    margin: none;
    border-radius: 50px 0px 0px 50px;
    
}

input[type = 'radio'].Search_by:checked + label[for='Department']{
    background: #284160;
    color: white;
    border: 1.5px solid;
    border-color: #284160;
    border-radius: 30px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin: none;
    border-radius: 0px 50px 50px 0px;
}

.del_dev{
    display: inline-block;
   
}


.search_button{
    display: inline;
    border: none;
    background-color: #602828;
    color: white;
    text-align: center;
    padding-left: 25px;
    width: 100px;
    height: auto;
}

.search_button:hover{
    cursor: pointer;
}

i{
    color:white;
   
}

.right_part{
    text-align: center;
    background-color: #284160;
    border: 2px solid #284160;
    padding: 10px;
    display: inline-flex;
    width: 100px;
    margin-left: -5px;
    margin-top: 30px;
    border-radius: 0px 30px 30px 0px;
    
    
}


.Search_container{
    text-align: center;
}